################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Maze Test/obj/Debug
/Maze Test/Logs
/Maze Test/Library
/Maze Test/.vs/Maze Test/v16
/.vs
